<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/yogeshgheu/Documents/Testing/RestAssuredRev/src">
        <classes>
            <class name="com.api.test.LoginApiTest">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>